In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
melbourne=pd.read_csv('C:/Users/UditKhandelwal/Desktop/upGrad/Datasets/melbourne.csv')

In [7]:
melbourne['Car'].value_counts(dropna=False).head()

 2.0    8088
 1.0    7513
NaN     4626
 0.0    1385
 3.0    1045
Name: Car, dtype: int64

In [6]:
melbourne.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [3]:
melbourne.rows()

AttributeError: 'DataFrame' object has no attribute 'rows'

In [4]:
melbourne.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,23547.000000,1.839600e+04,23546.000000,23546.000000,19066.000000,19063.000000,18921.000000,17410.000000,10018.000000,11540.000000,19243.000000,19243.000000,23546.000000
mean,2.976048,1.056697e+06,10.306515,3109.782893,2.951956,1.570897,1.626235,551.783458,154.527895,1964.636742,-37.812434,145.000287,7517.480591
std,0.974501,6.419217e+05,6.016318,94.522190,0.996032,0.712684,0.974048,3544.288014,462.535765,37.595504,0.079926,0.106071,4414.995634
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.184180,144.431620,129.000000
25%,2.000000,6.330000e+05,6.200000,3047.000000,2.000000,1.000000,1.000000,181.000000,95.000000,1940.000000,-37.859300,144.939300,4385.000000
50%,3.000000,8.800000e+05,9.500000,3101.000000,3.000000,1.000000,2.000000,448.000000,129.000000,1970.000000,-37.809700,145.004300,6567.000000
75%,4.000000,1.302000e+06,13.000000,3150.000000,4.000000,2.000000,2.000000,656.000000,180.000000,2000.000000,-37.759800,145.063100,10331.000000
max,12.000000,9.000000e+06,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.000000,2106.000000,-37.407580,145.526350,21650.000000

In [5]:
melbourne.count()

Suburb           23547
Address          23547
Rooms            23547
Type             23547
Price            18396
Method           23547
SellerG          23547
Date             23547
Distance         23546
Postcode         23546
Bedroom2         19066
Bathroom         19063
Car              18921
Landsize         17410
BuildingArea     10018
YearBuilt        11540
CouncilArea      15656
Lattitude        19243
Longtitude       19243
Regionname       23546
Propertycount    23546
dtype: int64

In [6]:
melbourne['Price']=melbourne['Price'].fillna(melbourne['Price'].median())

In [7]:
melbourne['Car']

0        1.0
1        1.0
2        0.0
3        1.0
4        0.0
5        1.0
6        2.0
7        2.0
8        2.0
9        1.0
10       0.0
11       0.0
12       1.0
13       0.0
14       2.0
15       NaN
16       NaN
17       1.0
18       2.0
19       NaN
20       1.0
21       NaN
22       NaN
23       1.0
24       2.0
25       1.0
26       NaN
27       NaN
28       1.0
29       1.0
        ...
23517    2.0
23518    2.0
23519    3.0
23520    2.0
23521    2.0
23522    3.0
23523    2.0
23524    2.0
23525    2.0
23526    1.0
23527    1.0
23528    3.0
23529    2.0
23530    6.0
23531    NaN
23532    1.0
23533    2.0
23534    1.0
23535    2.0
23536    0.0
23537    2.0
23538    2.0
23539    4.0
23540    1.0
23541    5.0
23542    0.0
23543    NaN
23544    2.0
23545    1.0
23546    2.0
Name: Car, Length: 23547, dtype: float64

In [17]:
mel_new=melbourne.isnull().sum()/melbourne.count()*100
round(mel_new,2)

Suburb             0.00
Address            0.00
Rooms              0.00
Type               0.00
Price              0.00
Method             0.00
SellerG            0.00
Date               0.00
Distance           0.00
Postcode           0.00
Bedroom2          23.50
Bathroom          23.52
Car               24.45
Landsize          35.25
BuildingArea     135.05
YearBuilt        104.05
CouncilArea       50.40
Lattitude         22.37
Longtitude        22.37
Regionname         0.00
Propertycount      0.00
dtype: float64

Suburb             0.00
Address            0.00
Rooms              0.00
Type               0.00
Price              0.00
Method             0.00
SellerG            0.00
Date               0.00
Distance           0.00
Postcode           0.00
Bedroom2          23.50
Bathroom          23.52
Car               24.45
Landsize          35.25
BuildingArea     135.05
YearBuilt        104.05
CouncilArea       50.40
Lattitude         22.37
Longtitude        22.37
Regionname         0.00
Propertycount      0.00
dtype: float64

In [36]:
melbourne.loc[::2]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,880000.0,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,880000.0,S,Biggin,06-08-2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra,-37.79950,144.99740,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,07-05-2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2,u,880000.0,PI,Biggin,07-11-2016,2.5,3067.0,...,2.0,1.0,4292.0,82.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,08-10-2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,08-10-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,08-10-2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2,h,880000.0,SP,Biggin,10-12-2016,2.5,3067.0,...,1.0,1.0,176.0,80.0,1925.0,Yarra,-37.79980,144.99720,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10-12-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12-11-2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4,h,1985000.0,S,Biggin,12-11-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.80840,144.99420,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13-08-2016,2.5,3067.0,...,1.0,1.0,195.0,NaN,NaN,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
30,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15-10-2016,2.5,3067.0,...,1.0,2.0,238.0,97.0,1890.0,Yarra,-37.80900,144.99760,Northern Metropolitan,4019.0
32,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16-07-2016,2.5,3067.0,...,2.0,1.0,113.0,110.0,1880.0,Yarra,-37.80560,144.99300,Northern Metropolitan,4019.0
34,Abbotsford,16b Mollison St,2,h,880000.0,PI,Biggin,16-07-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
36,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17-09-2016,2.5,3067.0,...,1.0,0.0,183.0,NaN,NaN,Yarra,-37.80220,144.99750,Northern Metropolitan,4019.0
38,Abbotsford,3/72 Charles St,4,h,1330000.0,PI,Kay,18-03-2017,2.5,3067.0,...,2.0,2.0,780.0,135.0,1900.0,Yarra,-37.80730,144.99520,Northern Metropolitan,4019.0
40,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18-03-2017,2.5,3067.0,...,2.0,2.0,0.0,NaN,2010.0,Yarra,-37.80930,144.99590,Northern Metropolitan,4019.0
42,Abbotsford,6/219 Nicholson St,2,u,500000.0,S,Collins,18-06-2016,2.5,3067.0,...,1.0,1.0,0.0,60.0,1970.0,Yarra,-37.80150,144.99720,Northern Metropolitan,4019.0
44,Abbotsford,49 Park St,2,h,1315000.0,S,Marshall,19-11-2016,2.5,3067.0,...,1.0,0.0,147.0,85.0,1900.0,Yarra,-37.80800,144.99400,Northern Metropolitan,4019.0
46,Abbotsford,119/52 Nicholson St,1,u,423500.0,S,hockingstuart,22-05-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
48,Abbotsford,5/20 Abbotsford St,1,u,426000.0,SP,Greg,22-08-2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
50,Abbotsford,116/56 Nicholson St,1,u,457000.0,S,Jellis,22-08-2016,2.5,3067.0,...,1.0,1.0,0.0,50.0,NaN,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
52,Abbotsford,49/84 Trenerry Cr,2,h,700000.0,S,Biggin,23-04-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
54,Abbotsford,17/1 Abbot St,3,t,962000.0,SP,Jellis,25-02-2017,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.79720,144.99690,Northern Metropolitan,4019.0
56,Abbotsford,60 Stafford St,3,h,1290000.0,S,Biggin,25-02-2017,2.5,3067.0,...,1.0,1.0,168.0,124.0,1950.0,Yarra,-37.80070,144.99580,Northern Metropolitan,4019.0
58,Abbotsford,47 Studley St,2,h,1180000.0,S,Jellis,27-11-2016,2.5,3067.0,...,1.0,0.0,162.0,91.0,1900.0,Yarra,-37.80160,144.99560,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23488,Templestowe,10 Hathaway Cl,4,h,1753000.0,S,Barry,26-08-2017,15.5,3106.0,...,2.0,2.0,689.0,NaN,2012.0,NaN,-37.76673,145.16555,Eastern Metropolitan,6202.0
23490,Templestowe Lower,20 Airds Rd,4,h,1745000.0,S,RT,26-08-2017,12.4,3107.0,...,2.0,2.0,741.0,NaN,NaN,NaN,-37.75843,145.10888,Eastern Metropolitan,5420.0
23492,Templestowe Lower,50 Caroline Dr,5,h,1400000.0,S,Barry,26-08-2017,12.4,3107.0,...,3.0,2.0,717.0,310.0,1963.0,NaN,-37.76630,145.11320,Eastern Metropolitan,5420.0
23494,Templestowe Lower,67 Fyfe Dr,4,h,1075000.0,VB,hockingstuart,26-08-2017,12.4,3107.0,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.76928,145.12236,Eastern Metropolitan,5420.0
23496,Thomastown,49/90 Edgars Rd,2,t,406500.0,S,HAR,26-08-2017,15.3,3074.0,...,1.0,2.0,NaN,118.0,2009.0,NaN,-37.68585,145.00565,Northern Metropolitan,7955.0
23498,Thornbury,2/1 Collins St,1,u,428000.0,PI,Harcourts,26-08-2017,7.0,3071.0,...,1.0,1.0,NaN,40.0,1970.0,NaN,-37.75469,145.00199,Northern Metropolitan,8870.0
23500,Thornbury,323 Gillies St,4,t,1257000.0,S,Jellis,26-08-2017,7.0,3071.0,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.76321,145.01982,Northern Metropolitan,8870.0
23502,Thornbury,111 Pender St,2,t,858000.0,S,Jellis,26-08-2017,7.0,3071.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23504,Toorak,4 Blackfriars Cl,4,h,880000.0,SP,Kay,26-08-2017,4.1,3142.0,...,2.0,3.0,422.0,349.0,1950.0,NaN,-37.83749,145.01310,Southern Metropolitan,7217.0
23506,Toorak,9 Denham Pl,3,h,880000.0,S,Kay,26-08-2017,4.1,3142.0,...,2.0,3.0,NaN,230.0,1975.0,NaN,-37.84984,145.02547,Southern Metropolitan,7217.0
23508,Toorak,21/1059 Malvern Rd,2,u,720000.0,VB,Beller,26-08-2017,4.1,3142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7217.0
23510,Truganina,12 Arthur Cl,3,h,523000.0,S,Barry,26-08-2017,18.4,3029.0,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.84668,144.71607,Western Metropolitan,5811.0
23512,Tullamarine,7 Londrew Ct,3,h,540000.0,S,Barry,26-08-2017,12.9,3043.0,...,1.0,1.0,607.0,102.0,1970.0,NaN,-37.69423,144.88002,Western Metropolitan,3296.0
23514,Vermont,73 Nurlendi Rd,4,h,1263500.0,S,Barry,26-08-2017,17.2,3133.0,...,2.0,2.0,791.0,NaN,NaN,NaN,-37.84467,145.19276,Eastern Metropolitan,4181.0
23516,Vermont South,25a Minchinbury Dr,3,u,880000.0,PI,Woodards,26-08-2017,17.2,3133.0,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.85178,145.20195,Eastern Metropolitan,4280.0
23518,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26-08-2017,17.2,3133.0,...,2.0,2.0,986.0,NaN,NaN,NaN,-37.84679,145.20051,Eastern Metropolitan,4280.0
23520,Viewbank,7 Northwood Dr,4,h,880000.0,SP,Nelson,26-08-2017,8.9,3084.0,...,2.0,2.0,1105.0,237.0,1980.0,NaN,-37.73703,145.09392,Eastern Metropolitan,2698.0
23522,Wantirna,9 eton Sq,4,h,880000.0,PI,Ray,26-08-2017,14.7,3152.0,...,2.0,3.0,785.0,NaN,NaN,NaN,-37.85297,145.23815,Eastern Metropolitan,5424.0
23524,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26-08-2017,14.7,3152.0,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
23526,Watsonia,2/14 Daours Ct,2,u,590000.0,S,Lindellas,26-08-2017,14.5,3087.0,...,1.0,1.0,NaN,83.0,2010.0,NaN,-37.71500,145.07649,Northern Metropolitan,2329.0
23528,Watsonia North,22 Meakin St,3,h,880000.0,PI,Nelson,26-08-2017,14.5,3087.0,...,2.0,3.0,NaN,NaN,NaN,NaN,-37.70186,145.08635,Northern Metropolitan,1442.0
23530,Werribee,11 Gundaroo Sq,4,h,880000.0,PI,Stockdale,26-08-2017,14.7,3030.0,...,2.0,6.0,NaN,NaN,NaN,NaN,-37.91230,144.66980,Western Metropolitan,16166.0
23532,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26-08-2017,14.7,3030.0,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
23534,West Footscray,1/21 Waratah St,2,t,655000.0,S,Jas,26-08-2017,6.4,3012.0,...,2.0,1.0,NaN,135.0,2012.0,NaN,-37.80968,144.86819,Western Metropolitan,5058.0
23536,Westmeadows,81 Hillcrest Dr,4,h,720000.0,VB,Barry,26-08-2017,16.5,3049.0,...,2.0,0.0,NaN,NaN,NaN,NaN,-37.68006,144.87550,Northern Metropolitan,2474.0
23538,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26-08-2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26-08-2017,6.8,3016.0,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
23542,Wyndham Vale,25 Clitheroe Dr,3,u,880000.0,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [48]:
melbourne.iloc[4::4]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,880000.0,S,Biggin,06-08-2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra,-37.79950,144.99740,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2,u,880000.0,PI,Biggin,07-11-2016,2.5,3067.0,...,2.0,1.0,4292.0,82.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,08-10-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2,h,880000.0,SP,Biggin,10-12-2016,2.5,3067.0,...,1.0,1.0,176.0,80.0,1925.0,Yarra,-37.79980,144.99720,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12-11-2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13-08-2016,2.5,3067.0,...,1.0,1.0,195.0,NaN,NaN,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
32,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16-07-2016,2.5,3067.0,...,2.0,1.0,113.0,110.0,1880.0,Yarra,-37.80560,144.99300,Northern Metropolitan,4019.0
36,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17-09-2016,2.5,3067.0,...,1.0,0.0,183.0,NaN,NaN,Yarra,-37.80220,144.99750,Northern Metropolitan,4019.0
40,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18-03-2017,2.5,3067.0,...,2.0,2.0,0.0,NaN,2010.0,Yarra,-37.80930,144.99590,Northern Metropolitan,4019.0
44,Abbotsford,49 Park St,2,h,1315000.0,S,Marshall,19-11-2016,2.5,3067.0,...,1.0,0.0,147.0,85.0,1900.0,Yarra,-37.80800,144.99400,Northern Metropolitan,4019.0
48,Abbotsford,5/20 Abbotsford St,1,u,426000.0,SP,Greg,22-08-2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
52,Abbotsford,49/84 Trenerry Cr,2,h,700000.0,S,Biggin,23-04-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
56,Abbotsford,60 Stafford St,3,h,1290000.0,S,Biggin,25-02-2017,2.5,3067.0,...,1.0,1.0,168.0,124.0,1950.0,Yarra,-37.80070,144.99580,Northern Metropolitan,4019.0
60,Abbotsford,4/328 Johnston St,2,u,880000.0,PI,Biggin,28-05-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
64,Abbotsford,22 Park St,4,h,880000.0,W,Biggin,30-07-2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.80840,144.99420,Northern Metropolitan,4019.0
68,Airport West,50 Bedford St,3,h,770000.0,SP,Nelson,04-03-2017,13.5,3042.0,...,2.0,1.0,0.0,145.0,1965.0,Moonee Valley,-37.72030,144.87550,Western Metropolitan,3464.0
72,Airport West,1/37 Hillside Gr,3,h,600000.0,S,Maddison,04-03-2017,13.5,3042.0,...,1.0,1.0,290.0,116.0,1980.0,Moonee Valley,-37.72730,144.87440,Western Metropolitan,3464.0
76,Airport West,33 Bowes Av,5,h,1035000.0,S,Airport,06-08-2016,13.5,3042.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
80,Airport West,36 Roberts Rd,4,h,785000.0,S,Considine,06-08-2016,13.5,3042.0,...,1.0,2.0,597.0,127.0,NaN,Moonee Valley,-37.72590,144.87920,Western Metropolitan,3464.0
84,Airport West,81a Roberts Rd,3,h,680000.0,VB,Nelson,08-10-2016,13.5,3042.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
88,Airport West,13 Etzel St,3,h,805000.0,S,Nelson,10-12-2016,13.5,3042.0,...,1.0,1.0,0.0,105.0,1950.0,Moonee Valley,-37.72170,144.87830,Western Metropolitan,3464.0
92,Airport West,2/9 El Reno Cr,3,h,725000.0,PI,Ray,12-11-2016,13.5,3042.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
96,Airport West,241 Parer Rd,5,h,755000.0,PI,Propertyau,14-05-2016,13.5,3042.0,...,2.0,2.0,596.0,NaN,NaN,Moonee Valley,-37.72480,144.86990,Western Metropolitan,3464.0
100,Airport West,180 Parer Rd,3,h,830000.0,S,Barry,16-04-2016,13.5,3042.0,...,1.0,2.0,971.0,113.0,1960.0,Moonee Valley,-37.71860,144.87600,Western Metropolitan,3464.0
104,Airport West,138 Victory Rd,3,h,1042000.0,S,Nelson,16-07-2016,13.5,3042.0,...,2.0,5.0,612.0,174.0,1950.0,Moonee Valley,-37.71730,144.87960,Western Metropolitan,3464.0
108,Airport West,478 Fullarton Rd,3,h,810000.0,PI,Barry,18-03-2017,13.5,3042.0,...,3.0,2.0,555.0,192.0,1980.0,Moonee Valley,-37.72850,144.86940,Western Metropolitan,3464.0
112,Airport West,3/7 South Rd,3,t,540000.0,SP,Nelson,18-06-2016,13.5,3042.0,...,2.0,1.0,161.0,101.0,2010.0,Moonee Valley,-37.72310,144.88020,Western Metropolitan,3464.0
116,Airport West,110 Halsey Rd,3,h,805000.0,S,Barry,22-08-2016,13.5,3042.0,...,1.0,1.0,623.0,NaN,NaN,Moonee Valley,-37.71840,144.88200,Western Metropolitan,3464.0
120,Airport West,34 Moorna Dr,4,h,978000.0,S,Nelson,24-09-2016,13.5,3042.0,...,3.0,2.0,532.0,NaN,NaN,Moonee Valley,-37.72630,144.86900,Western Metropolitan,3464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23428,Seaford,8 Galway St,3,h,675000.0,S,Barry,26-08-2017,35.4,3198.0,...,2.0,2.0,NaN,154.0,1980.0,NaN,-38.10735,145.14357,South-Eastern Metropolitan,8077.0
23432,Seddon,32 Tennyson St,2,h,1157000.0,S,hockingstuart,26-08-2017,5.1,3011.0,...,1.0,NaN,NaN,105.0,1900.0,NaN,-37.80744,144.88831,Western Metropolitan,2417.0
23436,South Melbourne,321 Park St,2,t,880000.0,S,hockingstuart,26-08-2017,1.9,3205.0,...,1.0,1.0,119.0,100.0,1970.0,NaN,-37.83732,144.95556,Southern Metropolitan,5943.0
23440,South Morang,15 Vanderbilt Av,4,h,750000.0,SP,Iconek,26-08-2017,20.5,3752.0,...,2.0,2.0,NaN,240.0,2012.0,NaN,-37.61919,145.06768,Northern Metropolitan,7969.0
23444,South Yarra,12/48 Darling St,3,u,780000.0,S,Marshall,26-08-2017,2.7,3141.0,...,1.0,1.0,NaN,77.0,1970.0,NaN,-37.83578,144.99211,Southern Metropolitan,14887.0
23448,Springvale,34 Glendale Rd,3,h,880000.0,SP,Le,26-08-2017,20.8,3171.0,...,1.0,1.0,NaN,110.0,1960.0,NaN,-37.93721,145.14901,South-Eastern Metropolitan,7412.0
23452,St Albans,33 Moonstone Cct,4,h,537000.0,S,YPA,26-08-2017,14.0,3021.0,...,2.0,2.0,447.0,134.0,1996.0,NaN,-37.75405,144.82014,Western Metropolitan,14042.0
23456,St Kilda,81/3 Alfred Sq,2,u,715000.0,S,hockingstuart,26-08-2017,5.0,3182.0,...,1.0,1.0,NaN,NaN,1970.0,NaN,-37.86436,144.97406,Southern Metropolitan,13240.0
23460,St Kilda,50/62 Wellington St,1,u,460000.0,S,hockingstuart,26-08-2017,5.0,3182.0,...,1.0,1.0,NaN,61.0,1995.0,NaN,-37.85705,144.98699,Southern Metropolitan,13240.0
23464,Sunbury,57 Dunrossil Dr,3,h,880000.0,SN,YPA,26-08-2017,31.7,3429.0,...,2.0,2.0,674.0,165.0,1985.0,NaN,-37.55960,144.72926,Western Metropolitan,14092.0
23468,Sunshine,9 Appleby Ct,3,h,717500.0,S,Barry,26-08-2017,10.5,3020.0,...,1.0,1.0,554.0,95.0,1985.0,NaN,-37.78514,144.84561,Western Metropolitan,3755.0
23472,Sunshine West,65 Europa Bnd,1,h,460000.0,S,S&L,26-08-2017,10.5,3020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,6763.0
23476,Surrey Hills,46 Durham Rd,3,h,1715000.0,S,Noel,26-08-2017,10.2,3127.0,...,1.0,2.0,438.0,151.0,1906.0,NaN,-37.83015,145.09035,Southern Metropolitan,5457.0
23480,Surrey Hills,101/160 Union Rd,2,u,610000.0,VB,hockingstuart,26-08-2017,10.2,3127.0,...,1.0,1.0,NaN,NaN,NaN,NaN,-37.82320,145.09756,Southern Metropolitan,5457.0
23484,Tarneit,1 Tavor St,5,h,880000.0,SP,TRUE,26-08-2017,18.4,3029.0,...,4.0,2.0,517.0,NaN,NaN,NaN,-37.83579,144.68570,Western Metropolitan,10160.0
23488,Templestowe,10 Hathaway Cl,4,h,1753000.0,S,Barry,26-08-2017,15.5,3106.0,...,2.0,2.0,689.0,NaN,2012.0,NaN,-37.76673,145.16555,Eastern Metropolitan,6202.0
23492,Templestowe Lower,50 Caroline Dr,5,h,1400000.0,S,Barry,26-08-2017,12.4,3107.0,...,3.0,2.0,717.0,310.0,1963.0,NaN,-37.76630,145.11320,Eastern Metropolitan,5420.0
23496,Thomastown,49/90 Edgars Rd,2,t,406500.0,S,HAR,26-08-2017,15.3,3074.0,...,1.0,2.0,NaN,118.0,2009.0,NaN,-37.68585,145.00565,Northern Metropolitan,7955.0
23500,Thornbury,323 Gillies St,4,t,1257000.0,S,Jellis,26-08-2017,7.0,3071.0,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.76321,145.01982,Northern Metropolitan,8870.0
23504,Toorak,4 Blackfriars Cl,4,h,880000.0,SP,Kay,26-08-2017,4.1,3142.0,...,2.0,3.0,422.0,349.0,1950.0,NaN,-37.83749,145.01310,Southern Metropolitan,7217.0
23508,Toorak,21/1059 Malvern Rd,2,u,720000.0,VB,Beller,26-08-2017,4.1,3142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7217.0
23512,Tullamarine,7 Londrew Ct,3,h,540000.0,S,Barry,26-08-2017,12.9,3043.0,...,1.0,1.0,607.0,102.0,1970.0,NaN,-37.69423,144.88002,Western Metropolitan,3296.0
23516,Vermont South,25a Minchinbury Dr,3,u,880000.0,PI,Woodards,26-08-2017,17.2,3133.0,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.85178,145.20195,Eastern Metropolitan,4280.0
23520,Viewbank,7 Northwood Dr,4,h,880000.0,SP,Nelson,26-08-2017,8.9,3084.0,...,2.0,2.0,1105.0,237.0,1980.0,NaN,-37.73703,145.09392,Eastern Metropolitan,2698.0
23524,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26-08-2017,14.7,3152.0,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
23528,Watsonia North,22 Meakin St,3,h,880000.0,PI,Nelson,26-08-2017,14.5,3087.0,...,2.0,3.0,NaN,NaN,NaN,NaN,-37.70186,145.08635,Northern Metropolitan,1442.0
23532,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26-08-2017,14.7,3030.0,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
23536,Westmeadows,81 Hillcrest Dr,4,h,720000.0,VB,Barry,26-08-2017,16.5,3049.0,...,2.0,0.0,NaN,NaN,NaN,NaN,-37.68006,144.87550,Northern Metropolitan,2474.0
23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26-08-2017,6.8,3016.0,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0

In [43]:
melbourne.iloc[melbourne>50,]

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [47]:
melbourne[melbourne%4==0]

TypeError: Could not operate 4 with block values not all arguments converted during string formatting

In [4]:

import pandas as pd
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
mel_new=df.isnull().sum()//df.sum()*100
print(round(mel_new,2))

TypeError: unsupported operand type(s) for //: 'int' and 'str'

In [47]:
round(df.isnull().sum/df.count()*100,2)

TypeError: unsupported operand type(s) for /: 'method' and 'int'

In [85]:
df.loc[8391,df.isnull().sum()]

KeyError: 'None of [Ord_id                   0\nProd_id                  0\nShip_id                  0\nCust_id                  0\nSales                   20\nDiscount                55\nOrder_Quantity          55\nProfit                  55\nShipping_Cost           55\nProduct_Base_Margin    109\ndtype: int64] are in the [index]'

In [78]:
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23.0,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13.0,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26.0,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43.0,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35.0,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23.0,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5.0,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48.0,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33.0,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8.0,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43.0,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38.0,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27.0,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15.0,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10.0,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48.0,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30.0,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25.0,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45.0,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12.0,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18.0,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11.0,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44.0,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10.0,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13.0,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22.0,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13.0,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28.0,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38.0,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33.0,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41.0,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20.0,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28.0,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7.0,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30.0,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14.0,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47.0,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36.0,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12.0,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20.0,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41.0,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45.0,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25.0,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28.0,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21.0,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10.0,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46.0,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39.0,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4.0,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10.0,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44.0,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
count=0
for i in range(df.shape[0]):
    if(df.loc[i,:].isna().sum()>5):
        df1.loc[i]=df.loc[i].fillna(0)
    else:
        df1.loc[i]=df.loc[i]
df1

Ord_id                 Ord_id                  Ord_5446
Prod_id      ...
Prod_id                Ord_id                  Ord_5406
Prod_id      ...
Ship_id                Ord_id                  Ord_5446
Prod_id      ...
Cust_id                Ord_id                  Ord_5456
Prod_id      ...
Sales                  Ord_id                  Ord_5485
Prod_id      ...
Discount               Ord_id                  Ord_5446
Prod_id      ...
Order_Quantity         Ord_id                  Ord_31
Prod_id        ...
Profit                 Ord_id                  Ord_4725
Prod_id      ...
Shipping_Cost          Ord_id                  Ord_4725
Prod_id      ...
Product_Base_Margin    Ord_id                  Ord_4725
Prod_id      ...
0                      Ord_id                  Ord_5446
Prod_id      ...
1                      Ord_id                  Ord_5406
Prod_id      ...
2                      Ord_id                  Ord_5446
Prod_id      ...
3                      Ord_id                  Ord_5456
Prod_id      ...
4                      Ord_id                  Ord_5485
Prod_id      ...
5                      Ord_id                  Ord_5446
Prod_id      ...
6                      Ord_id                  Ord_31
Prod_id        ...
7                      Ord_id                  Ord_4725
Prod_id      ...
8                      Ord_id                  Ord_4725
Prod_id      ...
9                      Ord_id                  Ord_4725
Prod_id      ...
10                     Ord_id                  Ord_4743
Prod_id      ...
11                     Ord_id                 Ord_1925
Prod_id       ...
12                     Ord_id                  Ord_2978
Prod_id      ...
13                     Ord_id                 Ord_2207
Prod_id       ...
14                     Ord_id                 Ord_2207
Prod_id       ...
15                     Ord_id                 Ord_2280
Prod_id       ...
16                     Ord_id                 Ord_2282
Prod_id       ...
17                     Ord_id                  Ord_4471
Prod_id      ...
18                     Ord_id                  Ord_4427
Prod_id      ...
19                     Ord_id                  Ord_996
Prod_id       ...
                                             ...
8369                   Ord_id                  Ord_3633
Prod_id      ...
8370                   Ord_id                  Ord_2696
Prod_id      ...
8371                   Ord_id                  Ord_2624
Prod_id      ...
8372                   Ord_id                  Ord_2772
Prod_id      ...
8373                   Ord_id                  Ord_2600
Prod_id      ...
8374                   Ord_id                  Ord_2658
Prod_id      ...
8375                   Ord_id                  Ord_2772
Prod_id      ...
8376                   Ord_id                  Ord_2624
Prod_id      ...
8377                   Ord_id                  Ord_2722
Prod_id      ...
8378                   Ord_id                  Ord_2706
Prod_id      ...
8379                   Ord_id                  Ord_2722
Prod_id      ...
8380                   Ord_id                  Ord_2772
Prod_id      ...
8381                   Ord_id                  Ord_2696
Prod_id      ...
8382                   Ord_id                  Ord_2658
Prod_id      ...
8383                   Ord_id                  Ord_2722
Prod_id      ...
8384                   Ord_id                  Ord_4620
Prod_id      ...
8385                   Ord_id                 Ord_1833
Prod_id       ...
8386                   Ord_id                 Ord_2324
Prod_id       ...
8387                   Ord_id                 Ord_2220
Prod_id       ...
8388                   Ord_id                  Ord_4424
Prod_id      ...
8389                   Ord_id                  Ord_4444
Prod_id      ...
8390                   Ord_id                  Ord_5435
Prod_id      ...
8391                   Ord_id                  Ord_5435
Prod_id      ...
8392                   Ord_id                  Ord_5384
Prod_id      ...
8393                   Ord_id                  Ord_5348
Prod_id      ...
8394                   Ord_id                  Ord_5353
Prod_id      ...
8395                   Ord_id                  Ord_5411
Prod_id      ...
8396                   Ord_id                  Ord_5388
Prod_id      ...
8397                   Ord_id                  Ord_5348
Prod_id      ...
8398                   Ord_id                  Ord_5459
Prod_id      ...
Name: 8398, Length: 8409, dtype: object

In [6]:
df['Product_Base_Margin']=df['Product_Base_Margin'].fillna(df['Product_Base_Margin'].mean())
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23.0,-30.51,3.60,0.560000
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13.0,4.56,0.93,0.540000
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26.0,1148.90,2.50,0.590000
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43.0,729.34,14.30,0.370000
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35.0,1219.87,26.30,0.380000
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23.0,-47.64,6.15,0.370000
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5.0,1.32,0.50,0.360000
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48.0,1137.91,0.99,0.550000
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33.0,45.84,0.71,0.520000
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8.0,-27.72,6.60,0.370000
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43.0,1675.98,0.99,0.560000
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38.0,79.34,4.86,0.380000
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27.0,23.12,3.37,0.570000
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15.0,-693.23,61.76,0.780000
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10.0,-317.48,36.09,0.770000
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48.0,-103.48,7.29,0.450000
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30.0,193.12,1.39,0.380000
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25.0,4089.27,26.00,0.600000
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45.0,-141.26,6.81,0.360000
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12.0,-37.03,4.20,0.560000
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18.0,-24.03,2.31,0.560000
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11.0,-44.54,7.86,0.370000
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44.0,991.26,19.99,0.430000
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10.0,-0.71,1.63,0.360000
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13.0,3.46,7.27,0.380000
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22.0,-2.34,0.70,0.560000
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13.0,31.32,4.00,0.420000
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28.0,401.80,6.66,0.400000
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38.0,1016.97,2.50,0.550000
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33.0,-140.54,6.89,0.390000
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41.0,515.62,1.49,0.380000
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20.0,-17.75,2.03,0.570000
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28.0,1049.54,8.99,0.580000
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7.0,12.64,1.39,0.360000
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30.0,-31.95,1.32,0.830000
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14.0,-256.93,48.20,0.740000
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47.0,226.53,11.63,0.370000
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36.0,-27.99,6.50,0.790000
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12.0,10.58,0.50,0.390000
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20.0,312.52,3.50,0.590000
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41.0,69.31,8.99,0.500000
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45.0,-143.58,7.37,0.370000
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25.0,561.13,8.99,0.590000
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28.0,-92.85,5.34,0.380000
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21.0,-546.98,35.00,0.850000
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10.0,-56.30,7.78,0.370000
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46.0,100.22,4.98,0.400000
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39.0,11.32,1.35,0.400000
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4.0,-16.39,6.28,0.350000
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10.0,-335.06,35.00,0.512481
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44.0,34.68,0.98,0.520000
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481

In [129]:
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23.0,-30.51,3.60,0.560000
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13.0,4.56,0.93,0.540000
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26.0,1148.90,2.50,0.590000
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43.0,729.34,14.30,0.370000
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35.0,1219.87,26.30,0.380000
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23.0,-47.64,6.15,0.370000
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5.0,1.32,0.50,0.360000
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48.0,1137.91,0.99,0.550000
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33.0,45.84,0.71,0.520000
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8.0,-27.72,6.60,0.370000
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43.0,1675.98,0.99,0.560000
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38.0,79.34,4.86,0.380000
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27.0,23.12,3.37,0.570000
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15.0,-693.23,61.76,0.780000
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10.0,-317.48,36.09,0.770000
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48.0,-103.48,7.29,0.450000
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30.0,193.12,1.39,0.380000
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25.0,4089.27,26.00,0.600000
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45.0,-141.26,6.81,0.360000
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12.0,-37.03,4.20,0.560000
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18.0,-24.03,2.31,0.560000
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11.0,-44.54,7.86,0.370000
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44.0,991.26,19.99,0.430000
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10.0,-0.71,1.63,0.360000
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13.0,3.46,7.27,0.380000
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22.0,-2.34,0.70,0.560000
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13.0,31.32,4.00,0.420000
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28.0,401.80,6.66,0.400000
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38.0,1016.97,2.50,0.550000
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33.0,-140.54,6.89,0.390000
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41.0,515.62,1.49,0.380000
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20.0,-17.75,2.03,0.570000
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28.0,1049.54,8.99,0.580000
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7.0,12.64,1.39,0.360000
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30.0,-31.95,1.32,0.830000
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14.0,-256.93,48.20,0.740000
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47.0,226.53,11.63,0.370000
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36.0,-27.99,6.50,0.790000
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12.0,10.58,0.50,0.390000
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20.0,312.52,3.50,0.590000
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41.0,69.31,8.99,0.500000
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45.0,-143.58,7.37,0.370000
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25.0,561.13,8.99,0.590000
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28.0,-92.85,5.34,0.380000
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21.0,-546.98,35.00,0.850000
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10.0,-56.30,7.78,0.370000
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46.0,100.22,4.98,0.400000
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39.0,11.32,1.35,0.400000
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4.0,-16.39,6.28,0.350000
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10.0,-335.06,35.00,0.512481
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44.0,34.68,0.98,0.520000
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,NaN,NaN,NaN,NaN,NaN,0.512481

In [130]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
df = df[df.isnull().sum(axis=1)<=5]
#print(missing_vnum)
#df.dropna(missing_vnum.item())
df.dropna()
columns = df.columns
percent_missing = df.isnull().sum() * 100 / len(df)
print(round(percent_missing,2))

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.00
Discount               0.42
Order_Quantity         0.42
Profit                 0.42
Shipping_Cost          0.42
Product_Base_Margin    1.06
dtype: float64